TTN_v3/node-red-dashboard.json
[{"id":"45c02cf8.f9398c","type":"tab","label":"TTN mqtt 2.4GHz","disabled":false,"info":""},{"id":"d6b3d71.03d14a8","type":"mqtt in","z":"45c02cf8.f9398c","name":"","topic":"#","qos":"2","broker":"195f398c.ff6d56","x":90,"y":60,"wires":[["c7530c20.60ab8"]]},{"id":"11e7d0c0.935867","type":"debug","z":"45c02cf8.f9398c","name":"toto","active":false,"console":"false","complete":"payload","x":410,"y":60,"wires":[]},{"id":"c7530c20.60ab8","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":243.63333129882812,"y":60,"wires":[["11e7d0c0.935867","4897b409.c1a894"]]},{"id":"4897b409.c1a894","type":"function","z":"45c02cf8.f9398c","name":"Parse data","func":"var pkt = {payload:{}};\nvar date = new Date(Date.now());\npkt.payload.Time = date.toLocaleString('en-GB', { timeZone: 'UTC' });\npkt.payload.devid = msg.payload.end_device_ids.device_id;\npkt.payload.fcnt = msg.payload.uplink_message.f_cnt;\npkt.payload.rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\npkt.payload.snr = msg.payload.uplink_message.rx_metadata[0].snr;\n\nreturn pkt;","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["772ff63d.ad7218","ef7a5666.a36f2"]]},{"id":"772ff63d.ad7218","type":"debug","z":"45c02cf8.f9398c","name":"","active":false,"console":"false","complete":"false","x":610,"y":100,"wires":[]},{"id":"ce4daab8.6c11c","type":"mqtt out","z":"45c02cf8.f9398c","name":"","topic":"v3/thalatta-app/devices/sensor1/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":610,"y":160,"wires":[]},{"id":"a280a9ef.7a1818","type":"inject","z":"45c02cf8.f9398c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":160,"wires":[["a826ae26.82351"]]},{"id":"a826ae26.82351","type":"function","z":"45c02cf8.f9398c","name":"Test Downlink","func":"var msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 15,\n    \"frm_payload\": \"vu8=\",\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["ce4daab8.6c11c","ad8ae7ca.e81a88"]]},{"id":"ad8ae7ca.e81a88","type":"debug","z":"45c02cf8.f9398c","name":"","active":false,"console":"false","complete":"false","x":510,"y":220,"wires":[]},{"id":"bbbee8dc.484e68","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"c8f12422.ea40d8","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":420,"wires":[]},{"id":"f68b7f4c.8bca6","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["bbbee8dc.484e68","aff63f99.ba4bb8"]]},{"id":"a0dcffef.1217","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat1_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat1_count', 1);\n    count = 1;\n} else {\n    flow.set('boat1_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["f68b7f4c.8bca6"]]},{"id":"438a4f08.477b28","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":420,"wires":[["ca7fc582.73465"]]},{"id":"9a1d8dd0.5b5e3","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"c8f12422.ea40d8","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":420,"wires":[["438a4f08.477b28"]]},{"id":"cd4bc327.fc715","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat1","topic":"v3/thalatta-app/devices/boat1/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":420,"wires":[["89202567.f4ab08"]]},{"id":"ca7fc582.73465","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat1","topic":"v3/thalatta-app/devices/boat1/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":420,"wires":[]},{"id":"89202567.f4ab08","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":420,"wires":[["a0dcffef.1217"]]},{"id":"81021482.8ae898","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"1304d4bb.c5348b","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":480,"wires":[]},{"id":"4ee9277e.172ec","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["81021482.8ae898"]]},{"id":"8b653768.111128","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat2_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat2_count', 1);\n    count = 1;\n} else {\n    flow.set('boat2_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["4ee9277e.172ec"]]},{"id":"fc36d756.1d2ca8","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":480,"wires":[["10647ee8.42d901"]]},{"id":"b4fb997b.702b78","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"1304d4bb.c5348b","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":480,"wires":[["fc36d756.1d2ca8"]]},{"id":"5f9c325.ef7e84c","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat2","topic":"v3/thalatta-app/devices/boat2/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":480,"wires":[["988afe88.221a38"]]},{"id":"10647ee8.42d901","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat2","topic":"v3/thalatta-app/devices/boat2/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":480,"wires":[]},{"id":"988afe88.221a38","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":480,"wires":[["8b653768.111128"]]},{"id":"a820436e.a48e68","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"15408998.ef1a7e","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":540,"wires":[]},{"id":"b00864c3.66e328","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat3_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat3_count', 1);\n    count = 1;\n} else {\n    flow.set('boat3_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["33c33a79.c68286"]]},{"id":"de126eda.f0edb8","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":540,"wires":[["801f38ef.a860a8"]]},{"id":"c93226a1.7f04b","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"15408998.ef1a7e","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":540,"wires":[["de126eda.f0edb8"]]},{"id":"7ad41bf4.527384","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat3","topic":"v3/thalatta-app/devices/boat3/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":540,"wires":[["c4de48c.eb32f38"]]},{"id":"801f38ef.a860a8","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat3","topic":"v3/thalatta-app/devices/boat3/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":540,"wires":[]},{"id":"c4de48c.eb32f38","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":540,"wires":[["b00864c3.66e328"]]},{"id":"13c635a8.3e45ca","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"cd8cf639.66e03","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":600,"wires":[]},{"id":"8a1bcd12.767ce8","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat4_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat4_count', 1);\n    count = 1;\n} else {\n    flow.set('boat4_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["f45139e9.a9db98"]]},{"id":"6fd78588.3644ac","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":600,"wires":[["81130907.2b01f"]]},{"id":"5d502d69.84775c","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"cd8cf639.66e03","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":600,"wires":[["6fd78588.3644ac"]]},{"id":"2bbba706.ae8708","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat4","topic":"v3/thalatta-app/devices/boat4/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":600,"wires":[["d53dcc6e.4d2698"]]},{"id":"81130907.2b01f","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat4","topic":"v3/thalatta-app/devices/boat4/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":600,"wires":[]},{"id":"d53dcc6e.4d2698","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":600,"wires":[["8a1bcd12.767ce8"]]},{"id":"d58d19a4.343388","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"853e04d4.4a06d8","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":660,"wires":[]},{"id":"6ea3c7c4.a03458","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat5_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat5_count', 1);\n    count = 1;\n} else {\n    flow.set('boat5_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":660,"wires":[["5dcf4e5c.907ac"]]},{"id":"ea115cf.8d76da","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":660,"wires":[["9e39acac.2a2998"]]},{"id":"9ccd5e6d.29b4","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"853e04d4.4a06d8","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":660,"wires":[["ea115cf.8d76da"]]},{"id":"73ad416d.8f0778","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat5","topic":"v3/thalatta-app/devices/boat5/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":660,"wires":[["f2faeced.7a078"]]},{"id":"9e39acac.2a2998","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat5","topic":"v3/thalatta-app/devices/boat5/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":660,"wires":[]},{"id":"f2faeced.7a078","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":660,"wires":[["6ea3c7c4.a03458"]]},{"id":"3fd8f8dd.290858","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"987d84f8.69ecf","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":740,"wires":[]},{"id":"74c1d898.a23238","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat6_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat6_count', 1);\n    count = 1;\n} else {\n    flow.set('boat6_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":740,"wires":[["ccc0882b.00bfd8"]]},{"id":"c557d5fe.d0619","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":740,"wires":[["36419d.65220664"]]},{"id":"8c1a2278.d3e648","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"987d84f8.69ecf","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":740,"wires":[["c557d5fe.d0619"]]},{"id":"c7f4b515.e85978","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat6","topic":"v3/thalatta-app/devices/boat6/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":740,"wires":[["b0790937.dd19c8"]]},{"id":"36419d.65220664","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat6","topic":"v3/thalatta-app/devices/boat6/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":740,"wires":[]},{"id":"b0790937.dd19c8","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":740,"wires":[["74c1d898.a23238"]]},{"id":"e4c8ed8c.dbe1c8","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"87d05a53.7921a8","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":800,"wires":[]},{"id":"a637fb13.4cc79","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat7_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat7_count', 1);\n    count = 1;\n} else {\n    flow.set('boat7_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":800,"wires":[["56cd8b90.2d3d04"]]},{"id":"ce64a8ee.ffe58","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":800,"wires":[["4314dfdc.2c34c8"]]},{"id":"b239436c.fc729","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"87d05a53.7921a8","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":800,"wires":[["ce64a8ee.ffe58"]]},{"id":"4cc7d19b.e10868","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat7","topic":"v3/thalatta-app/devices/boat7/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":800,"wires":[["c7a3cae6.8a8e58"]]},{"id":"4314dfdc.2c34c8","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat7","topic":"v3/thalatta-app/devices/boat7/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":800,"wires":[]},{"id":"c7a3cae6.8a8e58","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":800,"wires":[["a637fb13.4cc79"]]},{"id":"740e2f5e.f48b68","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"74a0cca0.b96c84","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":860,"wires":[]},{"id":"4bfff8ca.b3e848","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat8_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat8_count', 1);\n    count = 1;\n} else {\n    flow.set('boat8_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":860,"wires":[["e04d729.052e59"]]},{"id":"8f526ffa.f2be6","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":860,"wires":[["8958b427.3cd088"]]},{"id":"a1ad27ac.48eea8","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"74a0cca0.b96c84","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":860,"wires":[["8f526ffa.f2be6"]]},{"id":"15549a8d.09b3dd","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat8","topic":"v3/thalatta-app/devices/boat8/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":860,"wires":[["33b227fb.2a19f8"]]},{"id":"8958b427.3cd088","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat8","topic":"v3/thalatta-app/devices/boat8/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":860,"wires":[]},{"id":"33b227fb.2a19f8","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":860,"wires":[["4bfff8ca.b3e848"]]},{"id":"b6e0c25f.9dd9b","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"a5c0e2c1.b162c8","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":920,"wires":[]},{"id":"7cb6946f.3125b4","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat9_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat9_count', 1);\n    count = 1;\n} else {\n    flow.set('boat9_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":920,"wires":[["9b8e84a3.e7cbb8"]]},{"id":"d48e7e3a.7c8638","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":920,"wires":[["1d619e8b.1a4da1"]]},{"id":"dc5a1ee.6ab176","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"a5c0e2c1.b162c8","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":920,"wires":[["d48e7e3a.7c8638"]]},{"id":"59c57f58.b8a76","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat9","topic":"v3/thalatta-app/devices/boat9/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":920,"wires":[["56167331.0f41c4"]]},{"id":"1d619e8b.1a4da1","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat9","topic":"v3/thalatta-app/devices/boat9/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":920,"wires":[]},{"id":"56167331.0f41c4","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":920,"wires":[["7cb6946f.3125b4"]]},{"id":"d629f6.f3dece08","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"a08cb59e.0d2648","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":980,"wires":[]},{"id":"1a096550.c10923","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat10_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat10_count', 1);\n    count = 1;\n} else {\n    flow.set('boat10_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":980,"wires":[["2146e719.8c9f58"]]},{"id":"eb1a90d2.161d1","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":980,"wires":[["bb7f1c1.1cf08e"]]},{"id":"89901c99.d55e4","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"a08cb59e.0d2648","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":980,"wires":[["eb1a90d2.161d1"]]},{"id":"499d230c.9261c4","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat10","topic":"v3/thalatta-app/devices/boat10/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":980,"wires":[["565bab3c.9399cc"]]},{"id":"bb7f1c1.1cf08e","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat10","topic":"v3/thalatta-app/devices/boat10/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":980,"wires":[]},{"id":"565bab3c.9399cc","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":980,"wires":[["1a096550.c10923"]]},{"id":"b4360807.d26e98","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"5b84ed28.653ca4","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1060,"wires":[]},{"id":"63f55d4b.fbbc74","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat11_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat11_count', 1);\n    count = 1;\n} else {\n    flow.set('boat11_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1060,"wires":[["befab552.8644a8"]]},{"id":"6dc9d82f.59f22","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1060,"wires":[["a3b1be92.7cc498"]]},{"id":"4565968b.7364d","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"5b84ed28.653ca4","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1060,"wires":[["6dc9d82f.59f22"]]},{"id":"ad7a47ad.b40fe8","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat11","topic":"v3/thalatta-app/devices/boat11/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1060,"wires":[["864c367.edd54c8"]]},{"id":"a3b1be92.7cc498","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat11","topic":"v3/thalatta-app/devices/boat11/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1060,"wires":[]},{"id":"864c367.edd54c8","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1060,"wires":[["63f55d4b.fbbc74"]]},{"id":"abce1023.8413b8","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"955f5bc8.63c118","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1120,"wires":[]},{"id":"c4a0465c.cd4c8","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat12_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat12_count', 1);\n    count = 1;\n} else {\n    flow.set('boat12_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1120,"wires":[["34368957.e0f346"]]},{"id":"7b09e2ba.5b094c","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1120,"wires":[["cdbe6801.f259e"]]},{"id":"7e9f7638.096e18","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"955f5bc8.63c118","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1120,"wires":[["7b09e2ba.5b094c"]]},{"id":"a7613781.30c8d","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat12","topic":"v3/thalatta-app/devices/boat12/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1120,"wires":[["e54fc5a0.e20c4"]]},{"id":"cdbe6801.f259e","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat12","topic":"v3/thalatta-app/devices/boat12/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1120,"wires":[]},{"id":"e54fc5a0.e20c4","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1120,"wires":[["c4a0465c.cd4c8"]]},{"id":"1a84290d.92bdcf","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"ef7251da.f015c","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1180,"wires":[]},{"id":"8e20d18d.9b572","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat13_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat13_count', 1);\n    count = 1;\n} else {\n    flow.set('boat13_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1180,"wires":[["ca4b7881.43b858"]]},{"id":"bb0fac59.b8f588","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1180,"wires":[["65641d13.df3a0c"]]},{"id":"74f175da.e45c84","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"ef7251da.f015c","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1180,"wires":[["bb0fac59.b8f588"]]},{"id":"e7c07fe3.053d7","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat13","topic":"v3/thalatta-app/devices/boat13/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1180,"wires":[["6fe53675.0c969"]]},{"id":"65641d13.df3a0c","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat13","topic":"v3/thalatta-app/devices/boat13/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1180,"wires":[]},{"id":"6fe53675.0c969","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1180,"wires":[["8e20d18d.9b572"]]},{"id":"7e55e58c.e653c4","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"77ef0d18.ab0da4","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1240,"wires":[]},{"id":"9b6a1b73.a939c8","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat14_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat14_count', 1);\n    count = 1;\n} else {\n    flow.set('boat14_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1240,"wires":[["d308425b.1890c"]]},{"id":"f7afed95.320ed8","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1240,"wires":[["49da1499.13eee4"]]},{"id":"926ed734.81f248","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"77ef0d18.ab0da4","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1240,"wires":[["f7afed95.320ed8"]]},{"id":"72e45288.783694","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat14","topic":"v3/thalatta-app/devices/boat14/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1240,"wires":[["1d4f251.175b5db"]]},{"id":"49da1499.13eee4","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat14","topic":"v3/thalatta-app/devices/boat14/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1240,"wires":[]},{"id":"1d4f251.175b5db","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1240,"wires":[["9b6a1b73.a939c8"]]},{"id":"6e169e41.249948","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"acf22685.293b08","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1300,"wires":[]},{"id":"695fdc5.5d6cfa4","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat15_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat15_count', 1);\n    count = 1;\n} else {\n    flow.set('boat15_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1300,"wires":[["7bc360c5.84e9b"]]},{"id":"47d58624.af88f8","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1300,"wires":[["d621b683.a876d8"]]},{"id":"6056ede0.2605e4","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"acf22685.293b08","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1300,"wires":[["47d58624.af88f8"]]},{"id":"48c0da05.562334","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat15","topic":"v3/thalatta-app/devices/boat15/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1300,"wires":[["8be1a031.b5c8c"]]},{"id":"d621b683.a876d8","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat15","topic":"v3/thalatta-app/devices/boat15/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1300,"wires":[]},{"id":"8be1a031.b5c8c","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1300,"wires":[["695fdc5.5d6cfa4"]]},{"id":"f8410133.45a0b","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"b0e020f1.6a2b3","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1380,"wires":[]},{"id":"b2b6a393.83f53","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat16_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat16_count', 1);\n    count = 1;\n} else {\n    flow.set('boat16_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1380,"wires":[["475479df.f6c9f8"]]},{"id":"b182fa12.454928","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1380,"wires":[["56e57c4c.19adec"]]},{"id":"ba4763f9.a8d048","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"b0e020f1.6a2b3","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1380,"wires":[["b182fa12.454928"]]},{"id":"ec70ca4.4437738","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat16","topic":"v3/thalatta-app/devices/boat16/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1380,"wires":[["a2774047.4ebd48"]]},{"id":"56e57c4c.19adec","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat16","topic":"v3/thalatta-app/devices/boat16/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1380,"wires":[]},{"id":"a2774047.4ebd48","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1380,"wires":[["b2b6a393.83f53"]]},{"id":"62fb6432.987ad4","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"c1e1ee61.c2f788","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1440,"wires":[]},{"id":"a78dda0b.4d707","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat17_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat17_count', 1);\n    count = 1;\n} else {\n    flow.set('boat17_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1440,"wires":[["d44001d1.d9cd2"]]},{"id":"118d7e9d.05ee49","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1440,"wires":[["54d4b55b.ac806c"]]},{"id":"93f11d0f.89b9a","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"c1e1ee61.c2f788","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1440,"wires":[["118d7e9d.05ee49"]]},{"id":"7106f54d.f3069c","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat17","topic":"v3/thalatta-app/devices/boat17/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1440,"wires":[["b91b8289.9c8a7"]]},{"id":"54d4b55b.ac806c","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat17","topic":"v3/thalatta-app/devices/boat17/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1440,"wires":[]},{"id":"b91b8289.9c8a7","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1440,"wires":[["a78dda0b.4d707"]]},{"id":"3670f402.a9fe54","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"97954b01.e40288","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1500,"wires":[]},{"id":"73bd2431.0b261c","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat18_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat18_count', 1);\n    count = 1;\n} else {\n    flow.set('boat18_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1500,"wires":[["b0f79448.165448"]]},{"id":"5cddd069.b2b1b8","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1500,"wires":[["d8da797f.9622a8"]]},{"id":"c1f2952f.2cfd1","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"97954b01.e40288","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1500,"wires":[["5cddd069.b2b1b8"]]},{"id":"af840e8f.bf4698","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat18","topic":"v3/thalatta-app/devices/boat18/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1500,"wires":[["704946ed.649d98"]]},{"id":"d8da797f.9622a8","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat18","topic":"v3/thalatta-app/devices/boat18/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1500,"wires":[]},{"id":"704946ed.649d98","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1500,"wires":[["73bd2431.0b261c"]]},{"id":"d9ba7dda.7c7b8","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"92f2e35.25a312","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1560,"wires":[]},{"id":"f6fda864.b9e288","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat19_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat19_count', 1);\n    count = 1;\n} else {\n    flow.set('boat19_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1560,"wires":[["447d9f88.1d701"]]},{"id":"fb672c4d.295a9","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1560,"wires":[["f2303e15.e1f198"]]},{"id":"d5a4f46e.7b8ab","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"92f2e35.25a312","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1560,"wires":[["fb672c4d.295a9"]]},{"id":"24711b9.2682ce4","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat19","topic":"v3/thalatta-app/devices/boat19/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1560,"wires":[["3a8b17a0.406298"]]},{"id":"f2303e15.e1f198","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat19","topic":"v3/thalatta-app/devices/boat19/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1560,"wires":[]},{"id":"3a8b17a0.406298","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1560,"wires":[["f6fda864.b9e288"]]},{"id":"5330922c.885e44","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"f248b95e.bd7c38","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1620,"wires":[]},{"id":"afcc0bab.dbf99","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat20_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat20_count', 1);\n    count = 1;\n} else {\n    flow.set('boat20_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1620,"wires":[["77a9cbc8.c7f764"]]},{"id":"d793e98f.b5f7d8","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1620,"wires":[["564ff957.12b0c8"]]},{"id":"2035ec16.3b48fc","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"f248b95e.bd7c38","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1620,"wires":[["d793e98f.b5f7d8"]]},{"id":"81af90a9.8933a8","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat20","topic":"v3/thalatta-app/devices/boat20/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1620,"wires":[["cf3cc111.0fea1"]]},{"id":"564ff957.12b0c8","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat20","topic":"v3/thalatta-app/devices/boat20/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1620,"wires":[]},{"id":"cf3cc111.0fea1","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1620,"wires":[["afcc0bab.dbf99"]]},{"id":"14fa1e93.300f11","type":"inject","z":"45c02cf8.f9398c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":680,"y":360,"wires":[["abe6c45c.ec0e7"]]},{"id":"abe6c45c.ec0e7","type":"function","z":"45c02cf8.f9398c","name":"Set duration ","func":"var minutes = 30;\nvar seconds = minutes * 60;\n\nvar buf_time = new Buffer(6);\nbuf_time[0] = 0xFA;\nbuf_time[1] = 0xB0;\nbuf_time[2] = 0xCA;\nbuf_time[3] = 0xCA;\nbuf_time[4] = seconds >> 8; /* number of seconds MSB */\nbuf_time[5] = seconds; /* number of seconds LSB */\n\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_time.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":850,"y":360,"wires":[["ca7fc582.73465","10647ee8.42d901","801f38ef.a860a8","81130907.2b01f","36419d.65220664","4314dfdc.2c34c8","8958b427.3cd088","1d619e8b.1a4da1","bb7f1c1.1cf08e","a3b1be92.7cc498","cdbe6801.f259e","65641d13.df3a0c","49da1499.13eee4","d621b683.a876d8","56e57c4c.19adec","54d4b55b.ac806c","d8da797f.9622a8","f2303e15.e1f198","9e39acac.2a2998"]]},{"id":"33c33a79.c68286","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["a820436e.a48e68"]]},{"id":"f45139e9.a9db98","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["13c635a8.3e45ca"]]},{"id":"5dcf4e5c.907ac","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":660,"wires":[["d58d19a4.343388"]]},{"id":"ccc0882b.00bfd8","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":740,"wires":[["3fd8f8dd.290858"]]},{"id":"56cd8b90.2d3d04","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":800,"wires":[["e4c8ed8c.dbe1c8"]]},{"id":"e04d729.052e59","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":860,"wires":[["740e2f5e.f48b68"]]},{"id":"9b8e84a3.e7cbb8","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["b6e0c25f.9dd9b"]]},{"id":"2146e719.8c9f58","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":980,"wires":[["d629f6.f3dece08"]]},{"id":"befab552.8644a8","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1060,"wires":[["b4360807.d26e98"]]},{"id":"34368957.e0f346","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1120,"wires":[["abce1023.8413b8"]]},{"id":"ca4b7881.43b858","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1180,"wires":[["1a84290d.92bdcf"]]},{"id":"d308425b.1890c","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1240,"wires":[["7e55e58c.e653c4"]]},{"id":"7bc360c5.84e9b","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1300,"wires":[["6e169e41.249948"]]},{"id":"475479df.f6c9f8","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1380,"wires":[["f8410133.45a0b"]]},{"id":"d44001d1.d9cd2","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1440,"wires":[["62fb6432.987ad4"]]},{"id":"b0f79448.165448","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1500,"wires":[["3670f402.a9fe54"]]},{"id":"447d9f88.1d701","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1560,"wires":[["d9ba7dda.7c7b8"]]},{"id":"77a9cbc8.c7f764","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1620,"wires":[["5330922c.885e44"]]},{"id":"2c89aa0a.388c06","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"f6219a94.cc7b38","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1700,"wires":[]},{"id":"4d6a117e.c2424","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat21_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat21_count', 1);\n    count = 1;\n} else {\n    flow.set('boat21_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1700,"wires":[["331e7ddf.8b43b2"]]},{"id":"14393c2f.065fb4","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1700,"wires":[["ce6e8f82.91b8f8"]]},{"id":"84f95794.92cc8","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"f6219a94.cc7b38","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1700,"wires":[["14393c2f.065fb4"]]},{"id":"899351fc.ece86","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat21","topic":"v3/thalatta-app/devices/boat21/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1700,"wires":[["4243fdd6.4f292c"]]},{"id":"ce6e8f82.91b8f8","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat21","topic":"v3/thalatta-app/devices/boat21/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1700,"wires":[]},{"id":"4243fdd6.4f292c","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1700,"wires":[["4d6a117e.c2424"]]},{"id":"331e7ddf.8b43b2","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1700,"wires":[["2c89aa0a.388c06"]]},{"id":"d7d007ba.3152d","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"b33bcf8a.1dad68","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":1780,"wires":[]},{"id":"d5b9cf8e.2e7bd8","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat22_count') || 0;\ncount += 1;\nif (count > msg.payload.uplink_message.f_cnt) {\n    flow.set('boat22_count', 1);\n    count = 1;\n} else {\n    flow.set('boat22_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1780,"wires":[["2a9eb09d.4c67c8"]]},{"id":"1c4d4b55.e7c7bd","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":900,"y":1780,"wires":[["3c5b0240.ce9d9e"]]},{"id":"8dc5d333.9eb05","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"b33bcf8a.1dad68","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":1780,"wires":[["1c4d4b55.e7c7bd"]]},{"id":"28afe6e6.05e7ba","type":"mqtt in","z":"45c02cf8.f9398c","name":"Boat22","topic":"v3/thalatta-app/devices/boat22/up","qos":"2","broker":"195f398c.ff6d56","x":70,"y":1780,"wires":[["8556dddd.95c178"]]},{"id":"3c5b0240.ce9d9e","type":"mqtt out","z":"45c02cf8.f9398c","name":"ToBoat22","topic":"v3/thalatta-app/devices/boat22/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":1080,"y":1780,"wires":[]},{"id":"8556dddd.95c178","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":190,"y":1780,"wires":[["d5b9cf8e.2e7bd8"]]},{"id":"2a9eb09d.4c67c8","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":450,"y":1780,"wires":[["d7d007ba.3152d"]]},{"id":"fb1fcbaf.97015","type":"function","z":"45c02cf8.f9398c","name":"Set duration 10 seconds","func":"var minutes = 5;\nvar seconds = minutes * 60;\n\nvar buf_time = new Buffer(6);\nbuf_time[0] = 0xFA;\nbuf_time[1] = 0xB0;\nbuf_time[2] = 0xCA;\nbuf_time[3] = 0xCA;\nbuf_time[4] = 0; /* number of seconds MSB */\nbuf_time[5] = 10; /* number of seconds LSB */\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_time.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":730,"y":1860,"wires":[["564ff957.12b0c8","ce6e8f82.91b8f8","3c5b0240.ce9d9e"]]},{"id":"4d6e8e4a.0ad98","type":"inject","z":"45c02cf8.f9398c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":520,"y":1860,"wires":[["fb1fcbaf.97015"]]},{"id":"ef7a5666.a36f2","type":"file","z":"45c02cf8.f9398c","name":"","filename":"/var/www/html/Boat.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":664.5,"y":53,"wires":[]},{"id":"aff63f99.ba4bb8","type":"debug","z":"45c02cf8.f9398c","name":"","active":true,"console":"false","complete":"false","x":590,"y":300,"wires":[]},{"id":"195f398c.ff6d56","type":"mqtt-broker","z":"","broker":"ism2400.demo.thethings.industries","port":"8883","tls":"e52cb189.9db4f","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c8f12422.ea40d8","type":"ui_group","z":"","name":"Boat1","tab":"f5110afb.9940a","order":1,"disp":true,"width":"6"},{"id":"1304d4bb.c5348b","type":"ui_group","z":"","name":"Boat2","tab":"f5110afb.9940a","order":2,"disp":true,"width":"6"},{"id":"15408998.ef1a7e","type":"ui_group","z":"","name":"Boat3","tab":"f5110afb.9940a","order":3,"disp":true,"width":"6"},{"id":"cd8cf639.66e03","type":"ui_group","z":"","name":"Boat4","tab":"f5110afb.9940a","order":4,"disp":true,"width":"6"},{"id":"853e04d4.4a06d8","type":"ui_group","z":"","name":"Boat5","tab":"f5110afb.9940a","order":5,"disp":true,"width":"6"},{"id":"987d84f8.69ecf","type":"ui_group","z":"","name":"Boat6","tab":"f5110afb.9940a","order":6,"disp":true,"width":"6"},{"id":"87d05a53.7921a8","type":"ui_group","z":"","name":"Boat7","tab":"f5110afb.9940a","order":7,"disp":true,"width":"6"},{"id":"74a0cca0.b96c84","type":"ui_group","z":"","name":"Boat8","tab":"f5110afb.9940a","order":8,"disp":true,"width":"6"},{"id":"a5c0e2c1.b162c8","type":"ui_group","z":"","name":"Boat9","tab":"f5110afb.9940a","order":9,"disp":true,"width":"6"},{"id":"a08cb59e.0d2648","type":"ui_group","z":"","name":"Boat10","tab":"f5110afb.9940a","order":10,"disp":true,"width":"6"},{"id":"5b84ed28.653ca4","type":"ui_group","z":"","name":"Boat11","tab":"f5110afb.9940a","order":11,"disp":true,"width":"6"},{"id":"955f5bc8.63c118","type":"ui_group","z":"","name":"Boat12","tab":"f5110afb.9940a","order":12,"disp":true,"width":"6"},{"id":"ef7251da.f015c","type":"ui_group","z":"","name":"Boat13","tab":"f5110afb.9940a","order":13,"disp":true,"width":"6"},{"id":"77ef0d18.ab0da4","type":"ui_group","z":"","name":"Boat14","tab":"f5110afb.9940a","order":14,"disp":true,"width":"6"},{"id":"acf22685.293b08","type":"ui_group","z":"","name":"Boat15","tab":"f5110afb.9940a","order":15,"disp":true,"width":"6"},{"id":"b0e020f1.6a2b3","type":"ui_group","z":"","name":"Boat16","tab":"f5110afb.9940a","order":16,"disp":true,"width":"6"},{"id":"c1e1ee61.c2f788","type":"ui_group","z":"","name":"Boat17","tab":"f5110afb.9940a","order":17,"disp":true,"width":"6"},{"id":"97954b01.e40288","type":"ui_group","z":"","name":"Boat18","tab":"f5110afb.9940a","order":18,"disp":true,"width":"6"},{"id":"92f2e35.25a312","type":"ui_group","z":"","name":"Boat19","tab":"f5110afb.9940a","order":19,"disp":true,"width":"6"},{"id":"f248b95e.bd7c38","type":"ui_group","z":"","name":"Boat20","tab":"f5110afb.9940a","order":20,"disp":true,"width":"6"},{"id":"f6219a94.cc7b38","type":"ui_group","z":"","name":"Boat21","tab":"f5110afb.9940a","order":21,"disp":true,"width":"6"},{"id":"b33bcf8a.1dad68","type":"ui_group","z":"","name":"Boat22","tab":"f5110afb.9940a","order":22,"disp":true,"width":"6"},{"id":"e52cb189.9db4f","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"/etc/ssl/certs/ca-certificates.crt","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"f5110afb.9940a","type":"ui_tab","z":"","name":"Boat","icon":"dashboard","order":1}]
