TTN_v3/node-red-mqtt.json
[{"id":"45c02cf8.f9398c","type":"tab","label":"TTN mqtt 2.4GHz","disabled":false,"info":""},{"id":"d6b3d71.03d14a8","type":"mqtt in","z":"45c02cf8.f9398c","name":"","topic":"#","qos":"2","broker":"195f398c.ff6d56","x":90,"y":60,"wires":[["c7530c20.60ab8"]]},{"id":"11e7d0c0.935867","type":"debug","z":"45c02cf8.f9398c","name":"toto","active":false,"console":"false","complete":"payload","x":410,"y":60,"wires":[]},{"id":"c7530c20.60ab8","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":243.63333129882812,"y":60,"wires":[["11e7d0c0.935867","4897b409.c1a894"]]},{"id":"4897b409.c1a894","type":"function","z":"45c02cf8.f9398c","name":"Parse data","func":"var pkt = {payload:{}};\n\npkt.payload.devid = msg.payload.end_device_ids.device_id;\npkt.payload.fcnt = msg.payload.uplink_message.f_cnt;\npkt.payload.rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\npkt.payload.snr = msg.payload.uplink_message.rx_metadata[0].snr;\n\nreturn pkt;","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["772ff63d.ad7218"]]},{"id":"772ff63d.ad7218","type":"debug","z":"45c02cf8.f9398c","name":"","active":false,"console":"false","complete":"false","x":610,"y":100,"wires":[]},{"id":"ce4daab8.6c11c","type":"mqtt out","z":"45c02cf8.f9398c","name":"","topic":"v3/thalatta-app/devices/sensor1/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":610,"y":160,"wires":[]},{"id":"a280a9ef.7a1818","type":"inject","z":"45c02cf8.f9398c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":160,"wires":[["a826ae26.82351"]]},{"id":"a826ae26.82351","type":"function","z":"45c02cf8.f9398c","name":"Test Downlink","func":"var msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 15,\n    \"frm_payload\": \"vu8=\",\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["ce4daab8.6c11c","ad8ae7ca.e81a88"]]},{"id":"ad8ae7ca.e81a88","type":"debug","z":"45c02cf8.f9398c","name":"","active":false,"console":"false","complete":"false","x":510,"y":220,"wires":[]},{"id":"17118290.08f13d","type":"ui_gauge","z":"45c02cf8.f9398c","name":"","group":"c8f12422.ea40d8","order":2,"width":"6","height":"6","gtype":"gage","title":"{{msg.topic}}","label":"packets","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":360,"wires":[]},{"id":"cf2624eb.ced14","type":"function","z":"45c02cf8.f9398c","name":"PER","func":"var msg_cnt;\nvar fcnt = msg.payload.uplink_message.f_cnt + 1;\n//var per = Math.round(100 - msg.count * 100 / fcnt);\nvar per = 100 - msg.count * 100 / fcnt;\nvar rssi = msg.payload.uplink_message.rx_metadata[0].rssi;\nvar snr = msg.payload.uplink_message.rx_metadata[0].snr;\nvar date = new Date(Date.now());\n\n// Convert base64 to buffer\nvar b = new Buffer(msg.payload.uplink_message.frm_payload, 'base64')\n\nmsg_cnt = {payload: msg.count};\nmsg_cnt.topic = \"<center>Packets : \" + msg.count + \" / \" + fcnt + \"<br>( PER : \" + per.toFixed(1) + \"%)\" +\n                \"<br> Rssi = \" + rssi + \"    Snr = \" + snr +\n                \"<br> Nb Reset = \" + b[10] +\n                \"<br> \" + date.toLocaleString('en-GB', { timeZone: 'UTC' });\n                \nreturn msg_cnt;","outputs":1,"noerr":0,"x":710,"y":360,"wires":[["17118290.08f13d"]]},{"id":"ef20e5ff.81e368","type":"function","z":"45c02cf8.f9398c","name":"Counter","func":"var count = flow.get('boat1_count') || 0;\ncount += 1;\nif (count > msg.counter) {\n    flow.set('boat1_count', 1);\n    count = 1;\n} else {\n    flow.set('boat1_count', count);\n}\nmsg.count = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["cf2624eb.ced14"]]},{"id":"19191bb0.4dee24","type":"function","z":"45c02cf8.f9398c","name":"Reset downlink","func":"var buf_reset = new Buffer(4);\nbuf_reset[0] = 0xFA;\nbuf_reset[1] = 0xB0;\nbuf_reset[2] = 0xCA;\nbuf_reset[3] = 0xCA;\n\nvar msg_dwn = {payload: {}};\n\nmsg_dwn.payload.downlinks = [\n{\n    \"f_port\": 1,\n    \"frm_payload\": buf_reset.toString('base64'),\n    \"priority\": \"NORMAL\",\n}];\n\nreturn msg_dwn;","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["1576aa6c.7fe04e"]]},{"id":"a653b485.645898","type":"ui_button","z":"45c02cf8.f9398c","name":"","group":"c8f12422.ea40d8","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":420,"wires":[["19191bb0.4dee24"]]},{"id":"400a9482.c197ac","type":"mqtt in","z":"45c02cf8.f9398c","name":"","topic":"v3/thalatta-app/devices/boat19/up","qos":"2","broker":"195f398c.ff6d56","x":200,"y":360,"wires":[["a49b5894.e5af8"]]},{"id":"1576aa6c.7fe04e","type":"mqtt out","z":"45c02cf8.f9398c","name":"","topic":"v3/thalatta-app/devices/boat19/down/push","qos":"","retain":"","broker":"195f398c.ff6d56","x":990,"y":420,"wires":[]},{"id":"a49b5894.e5af8","type":"json","z":"45c02cf8.f9398c","name":"","pretty":false,"x":410,"y":360,"wires":[["ef20e5ff.81e368"]]},{"id":"195f398c.ff6d56","type":"mqtt-broker","z":"","broker":"ism2400.demo.thethings.industries","port":"8883","tls":"e52cb189.9db4f","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c8f12422.ea40d8","type":"ui_group","z":"","name":"Boat1","tab":"f5110afb.9940a","order":1,"disp":true,"width":"6"},{"id":"e52cb189.9db4f","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"/etc/ssl/certs/ca-certificates.crt","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"f5110afb.9940a","type":"ui_tab","z":"","name":"Boat","icon":"dashboard","order":1}]
