node-red-mgmt-flow.json
[{"id":"97dd0844.d0df58","type":"tab","label":"Thalatta GW Management","disabled":false,"info":""},{"id":"a34915ee.373a","type":"udp in","z":"97dd0844.d0df58","name":"","iface":"","port":"1760","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":200,"y":120,"wires":[["efbd784e.1229f8","7ee6314b.b83788"]]},{"id":"2a505b10.917cb4","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":false,"complete":"payload","x":650,"y":40,"wires":[]},{"id":"7ee6314b.b83788","type":"function","z":"97dd0844.d0df58","name":"GWNS_Parse","func":"var msg_str;\n\nvar gwAddress = msg.payload.slice( 4, 12 ).toString('hex').toUpperCase( );\n\n// Handle Gateway to Network Server protocol\nif (msg.payload[3] === 0x0)\n{\n    msg_str = { payload: \"PUSH_DATA\"};\n    \n    // Extract uplink data\n    var buf_up = Buffer.from(msg.payload);\n    var msg_up = { payload: buf_up.slice(12, msg.payload.length).toString('ascii') };\n\n    // Prepare PUSH_ACK frame\n    buf_ack = new Buffer(4);\n    buf_ack[0] = 0x02;\n    buf_ack[1] = msg.payload[1];\n    buf_ack[2] = msg.payload[2];\n    buf_ack[3] = 0x01;\n    var msg_udp = msg;\n    msg_udp.payload = buf_ack;\n    msg_udp.gwAddress = gwAddress;\n    \n    return [msg_str, msg_udp, msg_up];\n}\nelse if (msg.payload[3] === 0x2)\n{\n    msg_str = { payload: \"PULL_DATA\"};\n    \n    // Store UDP context for downlinks\n    flow.set('ip_addr', msg.ip);\n    flow.set('ip_port', msg.port)\n\n    // Prepare PULL_ACK frame\n    buf = new Buffer(4);\n    buf[0] = 0x02;\n    buf[1] = msg.payload[1];\n    buf[2] = msg.payload[2];\n    buf[3] = 0x04;\n    msg_udp = msg;\n    msg_udp.payload = buf;\n    msg_udp.gwAddress = gwAddress;\n    \n    return [msg_str, msg_udp, null];\n}\nelse if (msg.payload[3] === 0x5)\n{\n    // Extract tx_ack data\n    var buf_up = Buffer.from(msg.payload);\n    var msg_up = { payload: buf_up.slice(12, msg.payload.length).toString('ascii') };\n    msg_str = { payload: \"TX_ACK:\" + msg_up.payload };\n    return [msg_str, null, null];\n}\nelse\n{\n    msg_str = { payload: \"OTHER\"};\n    return [msg_str, null, null];\n}","outputs":"3","noerr":0,"x":420,"y":120,"wires":[["2a505b10.917cb4"],["3f3929a0.010fde","c3869e26.3f0518"],["abb8fd97.858e7"]]},{"id":"ce3e09cc.09bd7","type":"udp out","z":"97dd0844.d0df58","name":"udp ACK","addr":"","iface":"","port":"","ipv":"udp4","outport":"1760","base64":false,"multicast":"false","x":880,"y":80,"wires":[]},{"id":"efbd784e.1229f8","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":390,"y":40,"wires":[]},{"id":"3f3929a0.010fde","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":630,"y":160,"wires":[]},{"id":"abb8fd97.858e7","type":"json","z":"97dd0844.d0df58","name":"","x":630,"y":240,"wires":[["ba055976.6f51c","397214cb.d4a6cc"]]},{"id":"397214cb.d4a6cc","type":"switch","z":"97dd0844.d0df58","name":"rxpk","property":"payload.rxpk","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":770,"y":260,"wires":[["90ce5a0b.3b05d"]]},{"id":"ba055976.6f51c","type":"switch","z":"97dd0844.d0df58","name":"stat","property":"payload.stat","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":770,"y":220,"wires":[["11c93047.ea196"]]},{"id":"11c93047.ea196","type":"debug","z":"97dd0844.d0df58","name":"","active":true,"console":"false","complete":"payload","x":930,"y":220,"wires":[]},{"id":"90ce5a0b.3b05d","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"false","x":930,"y":260,"wires":[]},{"id":"625c9a33.5527bc","type":"function","z":"97dd0844.d0df58","name":"Send PUSH_MGMT frame","func":"flow.set('send_mgmt', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["d38eac34.e147f"]]},{"id":"d38eac34.e147f","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":830,"y":360,"wires":[]},{"id":"ad06f468.de82f8","type":"inject","z":"97dd0844.d0df58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":380,"y":360,"wires":[["625c9a33.5527bc"]]},{"id":"bde97acb.15ad8","type":"function","z":"97dd0844.d0df58","name":"Select Gateway","func":"var gateway_select = \"gw-indoor-2\";\n\nvar gateway_id = {\n    \"gw-indoor-1\": \"0080E1FFFE2A0043\",\n    \"gw-indoor-2\": \"0080E1FFFE370021\",\n    \"gw-outdoor-1\": \"0080E1FFFE410025\",\n    \"gw-outdoor-2\": \"0080E1FFFE320029\"\n};\n\nvar gwAddress = msg.payload.slice( 4, 12 ).toString('hex').toUpperCase( );\nvar msg_addr = {payload: gwAddress};\n//msg_addr = {payload: gateway_id[gateway_select]};\nif (gwAddress !== gateway_id[gateway_select])\n{\n    return [null, msg_addr];\n}\n\nflow.set('gwAddress', gwAddress );\n\nreturn [msg, msg_addr];","outputs":"2","noerr":0,"x":260,"y":180,"wires":[[],["d905dbab.36289"]]},{"id":"d905dbab.36289","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"false","x":450,"y":180,"wires":[]},{"id":"30422707.8209e8","type":"function","z":"97dd0844.d0df58","name":"GWNS_PULL_MGMT","func":"var send_mgmt = flow.get('send_mgmt') || false;\n\nif (send_mgmt === false) \n{\n    return null;\n}\nelse\n{\n    flow.set('send_mgmt', false);\n    \n    // Prepare management JSON frame\n    var mgmt_obj = { mgmt: {}};\n    mgmt_obj.mgmt.up_freq = 2425.0;\n    mgmt_obj.mgmt.up_sf = 12;\n    mgmt_obj.mgmt.dw_rx2_freq = 2422.0;\n    mgmt_obj.mgmt.dw_rx2_sf = 12;\n    mgmt_obj.mgmt.reset = true;\n    var buf_mgmt = new Buffer.from(JSON.stringify(mgmt_obj));\n    \n    // Prepare PULL_RESP frame\n    var buf_hdr = new Buffer(4);\n    buf_hdr[0] = 0x02;\n    buf_hdr[1] = Math.random() * 255;\n    buf_hdr[2] = Math.random() * 255;\n    buf_hdr[3] = 0x06; /* PULL_MGMT */\n    \n    // Prepare UDP message\n    var buf_udp = Buffer.concat([buf_hdr, buf_mgmt], buf_hdr.length + buf_mgmt.length);\n    var msg_pull_mgmt = { payload: {} };\n    msg_pull_mgmt.payload = buf_udp;\n    \n    // Retrieve UDP context stored on PULL_DATA\n    msg_pull_mgmt.ip = msg.ip;\n    msg_pull_mgmt.port = msg.port;\n    \n    console.log(\"addr:\" + msg_pull_mgmt.ip);\n    console.log(\"port:\" + msg_pull_mgmt.port);\n    \n    return msg_pull_mgmt;\n}","outputs":"1","noerr":0,"x":920,"y":120,"wires":[["6edff793.7f4038"]]},{"id":"6edff793.7f4038","type":"udp out","z":"97dd0844.d0df58","name":"udp MGMT","addr":"","iface":"","port":"","ipv":"udp4","outport":"1760","base64":false,"multicast":"false","x":1130,"y":120,"wires":[]},{"id":"c3869e26.3f0518","type":"function","z":"97dd0844.d0df58","name":"ACK & Select Gateway","func":"var gateway_select = \"gw-indoor-1\";\n\nvar gateway_id = {\n    \"gw-indoor-1\": \"0080E1FFFE2A0043\",\n    \"gw-indoor-2\": \"0080E1FFFE370021\",\n    \"gw-outdoor-1\": \"0080E1FFFE410025\",\n    \"gw-outdoor-2\": \"0080E1FFFE320029\"\n};\n\nif (msg.gwAddress !== gateway_id[gateway_select])\n{\n    return [msg, null];\n}\n\nreturn [msg, msg];\n","outputs":"2","noerr":0,"x":680,"y":120,"wires":[["ce3e09cc.09bd7"],["30422707.8209e8"]]}]
