node-red-mgmt-flow.json
[{"id":"97dd0844.d0df58","type":"tab","label":"Thalatta GW Management","disabled":false,"info":""},{"id":"a34915ee.373a","type":"udp in","z":"97dd0844.d0df58","name":"","iface":"","port":"1760","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":200,"y":120,"wires":[["efbd784e.1229f8","7ee6314b.b83788"]]},{"id":"2a505b10.917cb4","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":false,"complete":"payload","x":650,"y":40,"wires":[]},{"id":"7ee6314b.b83788","type":"function","z":"97dd0844.d0df58","name":"GWNS_Parse","func":"var msg_str;\n\nvar gwAddress = msg.payload.slice( 4, 12 ).toString('hex').toUpperCase( );\n\n// Handle Gateway to Network Server protocol\nif (msg.payload[3] === 0x0)\n{\n    msg_str = { payload: \"PUSH_DATA\"};\n    \n    // Extract uplink data\n    var buf_up = Buffer.from(msg.payload);\n    var msg_up = { payload: JSON.parse(buf_up.slice(12, msg.payload.length).toString('ascii')) };\n    msg_up.gwAddress = gwAddress;\n    if (gwAddress === \"0080E1FFFE2A0043\")\n    {\n        msg_up.gwId = \"gw-indoor-1\";\n    }\n    else if (gwAddress === \"0080E1FFFE370021\")\n    {\n        msg_up.gwId = \"gw-indoor-2\";\n    }\n    else if (gwAddress === \"0080E1FFFE410025\")\n    {\n        msg_up.gwId = \"gw-outdoor-1\";\n    }\n    else if (gwAddress === \"0080E1FFFE320029\")\n    {\n        msg_up.gwId = \"gw-outdoor-2\";\n    }\n    else\n    {\n        msg_up.gwId = \"unknown\";\n    }\n\n    // Prepare PUSH_ACK frame\n    buf_ack = new Buffer(4);\n    buf_ack[0] = 0x02;\n    buf_ack[1] = msg.payload[1];\n    buf_ack[2] = msg.payload[2];\n    buf_ack[3] = 0x01;\n    var msg_udp = msg;\n    msg_udp.payload = buf_ack;\n    msg_udp.gwAddress = gwAddress;\n    \n    return [msg_str, msg_udp, msg_up];\n}\nelse if (msg.payload[3] === 0x2)\n{\n    msg_str = { payload: \"PULL_DATA\"};\n    \n    // Store UDP context for downlinks\n    flow.set('ip_addr', msg.ip);\n    flow.set('ip_port', msg.port)\n\n    // Prepare PULL_ACK frame\n    buf = new Buffer(4);\n    buf[0] = 0x02;\n    buf[1] = msg.payload[1];\n    buf[2] = msg.payload[2];\n    buf[3] = 0x04;\n    msg_udp = msg;\n    msg_udp.payload = buf;\n    msg_udp.gwAddress = gwAddress;\n    \n    return [msg_str, msg_udp, null];\n}\nelse if (msg.payload[3] === 0x5)\n{\n    // Extract tx_ack data\n    var buf_up = Buffer.from(msg.payload);\n    var msg_up = { payload: buf_up.slice(12, msg.payload.length).toString('ascii') };\n    msg_str = { payload: \"TX_ACK:\" + msg_up.payload };\n    return [msg_str, null, null];\n}\nelse\n{\n    msg_str = { payload: \"OTHER\"};\n    return [msg_str, null, null];\n}","outputs":"3","noerr":0,"x":420,"y":120,"wires":[["2a505b10.917cb4"],["3f3929a0.010fde","c3869e26.3f0518"],["ba055976.6f51c","397214cb.d4a6cc"]]},{"id":"ce3e09cc.09bd7","type":"udp out","z":"97dd0844.d0df58","name":"udp ACK","addr":"","iface":"","port":"","ipv":"udp4","outport":"1760","base64":false,"multicast":"false","x":880,"y":80,"wires":[]},{"id":"efbd784e.1229f8","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":390,"y":40,"wires":[]},{"id":"3f3929a0.010fde","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":630,"y":160,"wires":[]},{"id":"397214cb.d4a6cc","type":"switch","z":"97dd0844.d0df58","name":"rxpk","property":"payload.rxpk","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":630,"y":320,"wires":[["90ce5a0b.3b05d","7521747a.3b6644"]]},{"id":"ba055976.6f51c","type":"switch","z":"97dd0844.d0df58","name":"stat","property":"payload.stat","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":630,"y":220,"wires":[["11c93047.ea196","3dd0766a.728c82"]]},{"id":"11c93047.ea196","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":910,"y":220,"wires":[]},{"id":"90ce5a0b.3b05d","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":910,"y":320,"wires":[]},{"id":"625c9a33.5527bc","type":"function","z":"97dd0844.d0df58","name":"Send PUSH_MGMT frame","func":"flow.set('send_mgmt', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["d38eac34.e147f"]]},{"id":"d38eac34.e147f","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":"false","complete":"true","x":830,"y":480,"wires":[]},{"id":"ad06f468.de82f8","type":"inject","z":"97dd0844.d0df58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":380,"y":480,"wires":[["625c9a33.5527bc"]]},{"id":"30422707.8209e8","type":"function","z":"97dd0844.d0df58","name":"GWNS_PULL_MGMT","func":"var send_mgmt = flow.get('send_mgmt') || false;\n\nif (send_mgmt === false) \n{\n    return null;\n}\nelse\n{\n    flow.set('send_mgmt', false);\n    \n    // Prepare management JSON frame\n    var mgmt_obj = { mgmt: {}};\n    mgmt_obj.mgmt.up_freq = 2425.0;\n    mgmt_obj.mgmt.up_sf = 12;\n    mgmt_obj.mgmt.dw_rx2_freq = 2422.0;\n    mgmt_obj.mgmt.dw_rx2_sf = 12;\n    mgmt_obj.mgmt.reset = true;\n    var buf_mgmt = new Buffer.from(JSON.stringify(mgmt_obj));\n    \n    // Prepare PULL_RESP frame\n    var buf_hdr = new Buffer(4);\n    buf_hdr[0] = 0x02;\n    buf_hdr[1] = Math.random() * 255;\n    buf_hdr[2] = Math.random() * 255;\n    buf_hdr[3] = 0x06; /* PULL_MGMT */\n    \n    // Prepare UDP message\n    var buf_udp = Buffer.concat([buf_hdr, buf_mgmt], buf_hdr.length + buf_mgmt.length);\n    var msg_pull_mgmt = { payload: {} };\n    msg_pull_mgmt.payload = buf_udp;\n    \n    // Retrieve UDP context stored on PULL_DATA\n    msg_pull_mgmt.ip = msg.ip;\n    msg_pull_mgmt.port = msg.port;\n    \n    console.log(\"addr:\" + msg_pull_mgmt.ip);\n    console.log(\"port:\" + msg_pull_mgmt.port);\n    \n    return msg_pull_mgmt;\n}","outputs":"1","noerr":0,"x":920,"y":120,"wires":[["6edff793.7f4038"]]},{"id":"6edff793.7f4038","type":"udp out","z":"97dd0844.d0df58","name":"udp MGMT","addr":"","iface":"","port":"","ipv":"udp4","outport":"1760","base64":false,"multicast":"false","x":1130,"y":120,"wires":[]},{"id":"c3869e26.3f0518","type":"function","z":"97dd0844.d0df58","name":"ACK & Select Gateway","func":"var gateway_select = \"gw-outdoor-1\";\n\nvar gateway_id = {\n    \"gw-indoor-1\": \"0080E1FFFE2A0043\",\n    \"gw-indoor-2\": \"0080E1FFFE370021\",\n    \"gw-outdoor-1\": \"0080E1FFFE410025\",\n    \"gw-outdoor-2\": \"0080E1FFFE320029\"\n};\n\nif (msg.gwAddress !== gateway_id[gateway_select])\n{\n    return [msg, null];\n}\n\nreturn [msg, msg];\n","outputs":"2","noerr":0,"x":680,"y":120,"wires":[["ce3e09cc.09bd7"],["30422707.8209e8"]]},{"id":"6e7e727c.951bfc","type":"template","z":"97dd0844.d0df58","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","output":"str","x":910,"y":260,"wires":[["a86e291f.12c4d8"]]},{"id":"a86e291f.12c4d8","type":"ui_template","z":"97dd0844.d0df58","group":"3bbab2b2.fe54f6","name":"","order":1,"width":"24","height":"6","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <th>GwAddr</th>\n    <th>GwId</th>\n    <th>Status</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{ x.gwAddress }}</td>\n    <td>{{ x.gwId }}</td>\n    <td>{{ x.payload.stat }}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1040,"y":260,"wires":[["79bcf0a3.ff6308"]]},{"id":"79bcf0a3.ff6308","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":false,"complete":"false","x":1190,"y":260,"wires":[]},{"id":"3dd0766a.728c82","type":"function","z":"97dd0844.d0df58","name":"Logger","func":"// initialise the counter to 0 if it doesn't already exist\nvar dashboardLog_stat = context.get('dashboardLog_stat')|| [];\n\ndashboardLog_stat.unshift(msg);\n\nif (dashboardLog_stat.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog_stat.pop();\n    dashboardLog_stat.length = 20;\n} \n\n// store the value back\ncontext.set('dashboardLog_stat',dashboardLog_stat);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog_stat;\nreturn msg;\n","outputs":"1","noerr":0,"x":770,"y":260,"wires":[["6e7e727c.951bfc"]]},{"id":"1b1c0bc3.dddc14","type":"template","z":"97dd0844.d0df58","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","output":"str","x":1050,"y":380,"wires":[["3cfb6bc5.68579c"]]},{"id":"3cfb6bc5.68579c","type":"ui_template","z":"97dd0844.d0df58","group":"6ec1d117.9ca3c8","name":"","order":1,"width":"24","height":"6","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <th>GwId</th>\n    <th>devAddr</th>\n    <th>fcnt</th>\n    <th>rssi</th>\n    <th>snr</th>\n    <th>rxpk</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td nowrap>{{ x.gwId }}</td>\n    <td>{{ x.devAddress }}</td>\n    <td>{{ x.fcnt }}</td>\n    <td>{{ x.payload.rxpk[0].rssi }}</td>\n    <td>{{ x.payload.rxpk[0].lsnr }}</td>\n    <td>{{ x.payload.rxpk }}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1180,"y":380,"wires":[["c47451ff.5ca958"]]},{"id":"c47451ff.5ca958","type":"debug","z":"97dd0844.d0df58","name":"","active":false,"console":false,"complete":"false","x":1330,"y":380,"wires":[]},{"id":"e97852f9.c22b7","type":"function","z":"97dd0844.d0df58","name":"Logger","func":"// initialise the counter to 0 if it doesn't already exist\nvar dashboardLog_rxpk = context.get('dashboardLog_rxpk')|| [];\n\ndashboardLog_rxpk.unshift(msg);\n\nif (dashboardLog_rxpk.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog_rxpk.pop();\n    dashboardLog_rxpk.length = 20;\n} \n\n// store the value back\ncontext.set('dashboardLog_rxpk',dashboardLog_rxpk);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog_rxpk;\nreturn msg;\n","outputs":"1","noerr":0,"x":910,"y":380,"wires":[["1b1c0bc3.dddc14"]]},{"id":"7521747a.3b6644","type":"function","z":"97dd0844.d0df58","name":"Get Metadata","func":"var b = new Buffer(msg.payload.rxpk[0].data, 'base64')\nmsg.payload.rxpk[0].data = b.toString('hex');\nvar devaddr = new Buffer(4);\ndevaddr[0] = b[4];\ndevaddr[1] = b[3];\ndevaddr[2] = b[2];\ndevaddr[3] = b[1];\nmsg.devAddress = devaddr.toString('hex');\n\nvar fcnt = (b[7] << 8) | b[6];\nmsg.fcnt = fcnt;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["e97852f9.c22b7"]]},{"id":"3bbab2b2.fe54f6","type":"ui_group","z":"","name":"Status","tab":"6987fe22.15f92","order":2,"disp":true,"width":"24"},{"id":"6ec1d117.9ca3c8","type":"ui_group","z":"","name":"Packets","tab":"6987fe22.15f92","order":3,"disp":true,"width":"24"},{"id":"6987fe22.15f92","type":"ui_tab","z":"","name":"Thalatta GW Mgmt","icon":"dashboard","order":2}]
